<div [@routerTransition]>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h4>Crear usuario</h4>

            <form role="form">
                <fieldset class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}">
                </fieldset>

                <fieldset class="form-group">
                    <label>Apellido</label>
                    <input class="form-control" [(ngModel)]="data.lastName" [ngModelOptions]="{standalone: true}">
                </fieldset>

                <fieldset class="form-group">
                    <label>Telefono</label>
                    <input type="number" class="form-control" [(ngModel)]="data.phone" [ngModelOptions]="{standalone: true}">
                </fieldset>

                <button type="submit" class="btn btn-secondary" (click)="save()">Guardar</button>&nbsp;
                <button type="reset" class="btn btn-secondary">Limpiar campos</button>

            </form>

        </div>

    </div>
</div>
